@import 'normalize.css';
@import "fonts.css";

:root {
    --black: #333333;
    --white: #FFFFFF;
    --gray: #C4C4C4;
    --gray-dark: #999999;
    --gray-light: #F4F4F4;
    --gray-border: #E4E4E4;
    --gray-select: #DEDEDE;
    --gray-chart: #ECECEC;
    --green: #A8B64F;
    --green-dark: #899441;
    --red: #DC3E22;
    --red-dark: #B7280F;
    --red-light: #EA8A79;
    --focus-icon: url('data:image/svg+xml, <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M64.3158 118.632C94.3136 118.632 118.632 94.3136 118.632 64.3158C118.632 34.318 94.3136 10 64.3158 10C34.318 10 10 34.318 10 64.3158C10 94.3136 34.318 118.632 64.3158 118.632Z" stroke="%23C4C4C4" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M64.5 102C85.2107 102 102 85.2107 102 64.5C102 43.7893 85.2107 27 64.5 27C43.7893 27 27 43.7893 27 64.5C27 85.2107 43.7893 102 64.5 102Z" stroke="%23C4C4C4" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M64.5 85C75.8218 85 85 75.8218 85 64.5C85 53.1782 75.8218 44 64.5 44C53.1782 44 44 53.1782 44 64.5C44 75.8218 53.1782 85 64.5 85Z" stroke="%23C4C4C4" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> </svg> ');
    --pause-icon: url('data:image/svg+xml, <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M64.3158 118.632C94.3136 118.632 118.632 94.3136 118.632 64.3158C118.632 34.318 94.3136 10 64.3158 10C34.318 10 10 34.318 10 64.3158C10 94.3136 34.318 118.632 64.3158 118.632Z" stroke="%23C4C4C4" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M64.3154 37.1579V64.3158L77.8944 77.8947" stroke="%23C4C4C4" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> </svg> ');
    --stop-icon: url('data:image/svg+xml, <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M64.3158 118.632C94.3136 118.632 118.632 94.3136 118.632 64.3158C118.632 34.318 94.3136 10 64.3158 10C34.318 10 10 34.318 10 64.3158C10 94.3136 34.318 118.632 64.3158 118.632Z" stroke="%23C4C4C4" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M28 27L102 101" stroke="%23C4C4C4" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> </svg> ');
    --focus-icon-active: url('data:image/svg+xml, <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M64.3158 118.632C94.3136 118.632 118.632 94.3136 118.632 64.3158C118.632 34.318 94.3136 10 64.3158 10C34.318 10 10 34.318 10 64.3158C10 94.3136 34.318 118.632 64.3158 118.632Z" stroke="%23FFAE35" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M64.5 102C85.2107 102 102 85.2107 102 64.5C102 43.7893 85.2107 27 64.5 27C43.7893 27 27 43.7893 27 64.5C27 85.2107 43.7893 102 64.5 102Z" stroke="%23FFAE35" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M64.5 85C75.8218 85 85 75.8218 85 64.5C85 53.1782 75.8218 44 64.5 44C53.1782 44 44 53.1782 44 64.5C44 75.8218 53.1782 85 64.5 85Z" stroke="%23FFAE35" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> </svg> ');
    --pause-icon-active: url('data:image/svg+xml, <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M64.3158 118.632C94.3136 118.632 118.632 94.3136 118.632 64.3158C118.632 34.318 94.3136 10 64.3158 10C34.318 10 10 34.318 10 64.3158C10 94.3136 34.318 118.632 64.3158 118.632Z" stroke="%239C97D7" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M64.3154 37.1579V64.3158L77.8944 77.8947" stroke="%239C97D7" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> </svg> ');
    --stop-icon-active: url('data:image/svg+xml, <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M64.3158 118.632C94.3136 118.632 118.632 94.3136 118.632 64.3158C118.632 34.318 94.3136 10 64.3158 10C34.318 10 10 34.318 10 64.3158C10 94.3136 34.318 118.632 64.3158 118.632Z" stroke="%237FC2D7" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M28 27L102 101" stroke="%237FC2D7" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/> </svg> ');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'SF UI Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    color: var(--black);
}

a {
    text-decoration: none;
}

.button {
    /*font-size: 16px;*/
    line-height: 17px;
    font-weight: 500;
    padding: 19px 50px;
    cursor: pointer;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}
